body{
  /* background-color: #1c2739; */
  background-color: #0f172a;

  color: #ffffffe0;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "DM Sans", sans-serif;
  
  font-weight: 400;
  font-style: normal;

  font-size: 13px;
  overflow-x: hidden;



}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c2739; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #233b62; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #101e35; 
}



.highlight {
  color: blue; /* Change the color as needed */
}